<html>
    <head>
        <title>Places I've Been</title>
    </head>
    <body>
        <h1>Haloo</h1>
        {% if list_of_cities is not empty %}
            {% for current_city in list_of_cities %}
                <li> {{current_city.getCity}} </li>
            {% endfor %}
        {% endif %}

        <form action="/create_place" method="post">
            <label for="city">Name a city</label>
            <input id="city" name="city" type="text">

            <button type="submit">Add</button>
        </form>
        <form action="/delete_places" method="post">
            <button type="submit">Delete</button>
        </form>
    </body>
</html>
