<html>
    <head>
        <title>New City</title>
    </head>
    <body>
        <h1>{{ new_place.getCity }}</h1>
        <form action='/' method='get'>
        <button type="submit">Back</button>
        </form>
    </body>
</html>
